Flask==3.1.2
flask-cors==6.0.1
numpy==2.0.2
packaging==25.0
pandas==2.3.1
pfzy==0.3.4
prompt_toolkit==3.0.51
pycparser==2.23
pycryptodomex==3.23.0
Pypubsub==4.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
soundfile==0.13.1
torch==2.8.0
torchaudio==2.8.0
faster-whisper==1.2.1
python-dotenv==1.2.1
requests==2.32.3
google-genai==1.51.0
google-generativeai==0.8.5

